<h1>Welcome! Search our Movie database below:</h1>

<form action="results" method="GET">
  <input type="text" name="query" placeholder="Search..." required>
  <input type="button" value="Search">
</form>

