<h1> Your search for <%= movie.title %> was successful!</h1>

<table>
<% @search do |s| %>
  <tr>
    <% s.movie.title %>
    <% s.movie.tagline %>
    <% s.movie.id %>
    <% s.movie.release_date %>
    <% s.movie.runtime %>
    <% s.movie.popularity %>
    <% s.movie.genres %>
    <% s.movie.imdb_id %>
  </tr>
  <% end %>
</table>
  
